<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Hex Color List</title>
  </head>
  <body>
    <h1>Hex Color List</h1>
    <div id="app">
      <p v-if="!colors.length">... Colors loading</p>

      <input type="text" v-model="search" placeholder="Search Color..." />

      <ul class="color-list">
        <li v-for="color in filteredColors">{{color.name}} {{color.hex}}</li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
